extends includes/main
block title
	title document
block content
	h2.content-title Новости
	.content-post
		h3.content-post-title Название новости
		.content-post-img
			img(src="img/banner.jpg", alt="")
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error porro et expedita, nam ratione vitae laboriosam, delectus praesentium distinctio alias cumque corporis odit, labore, hic animi voluptatem omnis facere unde. Alias sed aliquam eaque nulla laboriosam in, officiis? Enim nihil deserunt quibusdam, illo eos excepturi ad delectus cum odit modi.
		.content-post-views
			a.content-post-read(href="#") Read more
	.content-post
		h3.content-post-title Название новости
		.content-post-img
			img(src="img/banner.jpg", alt="")
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error porro et expedita, nam ratione vitae laboriosam, delectus praesentium distinctio alias cumque corporis odit, labore, hic animi voluptatem omnis facere unde. Alias sed aliquam eaque nulla laboriosam in, officiis? Enim nihil deserunt quibusdam, illo eos excepturi ad delectus cum odit modi.
		.content-post-views
			a.content-post-read(href="#") Read more
	.content-post
		h3.content-post-title Название новости
		.content-post-img
			img(src="img/banner.jpg", alt="")
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error porro et expedita, nam ratione vitae laboriosam, delectus praesentium distinctio alias cumque corporis odit, labore, hic animi voluptatem omnis facere unde. Alias sed aliquam eaque nulla laboriosam in, officiis? Enim nihil deserunt quibusdam, illo eos excepturi ad delectus cum odit modi.
		.content-post-views
			a.content-post-read(href="#") Read more
	.content-post
		h3.content-post-title Название новости
		.content-post-img
			img(src="img/banner.jpg", alt="")
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error porro et expedita, nam ratione vitae laboriosam, delectus praesentium distinctio alias cumque corporis odit, labore, hic animi voluptatem omnis facere unde. Alias sed aliquam eaque nulla laboriosam in, officiis? Enim nihil deserunt quibusdam, illo eos excepturi ad delectus cum odit modi.
		.content-post-views
			a.content-post-read(href="#") Read more