extends includes/main.jade
block content
	h2.content-title Публикация
	.content-post
		h3.content-post-title Название поста
		.content-post-img
			img(src="img/banner.jpg", alt="")
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptatibus, dolore temporibus veniam, ratione laboriosam magnam nesciunt officiis, veritatis in nobis, accusantium voluptates esse commodi nemo necessitatibus quod. Exercitationem error nesciunt dolorem impedit laborum quae, excepturi consequuntur sunt quasi culpa facilis iusto veniam non illo dolor, deserunt velit officiis magni nobis cumque, modi tempore in! Aliquid recusandae dolorum, vero nam accusantium perferendis adipisci eum consequatur. Nihil, quo. Ducimus illo optio nisi neque in, esse? Est aut officiis aperiam dicta illo iusto ut facere facilis corrupti, sint a? Dolorem, inventore laborum magni quia quae ipsum eligendi nisi? Consequatur dolor, incidunt quo.
		.content-post-info
			.content-post-category
				p Категория:
				a(href="#") Железо
			.content-post-tags
				p Метки:
				a(href="#") Плагины
				a(href="#") Софт
			a.content-post-read(href="#") Read more
			<i class="fas fa-eye"></i>
			span  250
	.comments
		h2.content-title Комментарии
		form.comments-add(action="post")
			p Оставить комментарий:
			textarea.comments-new(name="comment")
			input.submit-btn(type="submit")
		.comments-item
			h3.comments-item-name Олег:
			p.comments-item-text Очень интересная статья
		.comments-item
			h3.comments-item-name Олег:
			p.comments-item-text Понравилось, спасибо!
		.comments-item
			h3.comments-item-name Олег:
			p.comments-item-text Понравилось, спасибо!